* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.space {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}

p {
    font-size: 1.5rem;
    margin-right: 10px;

}

.header {
    text-decoration: none;
    color: white;
    font-size: .8rem;
    margin-right: 10px;
}

button {
    background-color: #17A2B8;
    color: white;
    margin-left: 18%;
    width: 125px;
}

.content {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;

}

.col-a {
    flex: 60;
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.user_card {
    outline: 2px #CCCCCC solid;
}

.band-blue {
    background-color: #17A2B8;
    height: 75px;
}

.profile {
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 50px;
    margin-left: 10px;
}

h1 {
    font-weight: lighter;
    position: relative;
    bottom: 50px;
    margin-left: 10px;
}

.location {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    bottom: 50px;
    margin-left: 10px;
}

.map-marker {
    height: 25px;
    width: 15px;
}

h3 {
    margin-left: 5px;
}

.about {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    margin-left: 10px;
}

.slogan {
    font-size: 1rem;
    margin-bottom: 25px;
}

.edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 50px;
    margin-left: 10px;
}

.gear {
    height: 25px;
    margin-right: 5px;
}

/* .edit-link{

} */

.card {
    display: flex;
    flex-direction: column;
    outline: 2px #CCCCCC solid;
    margin-bottom: 25px;

}

.band-black {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.indent {
    margin-left: 10px;
    font-size: 1rem;
}
.experience{
    margin-top: 10px;
    margin-bottom: 25px;;
}
.ttl {
    font-size: small;
    font-weight: bold;
    margin-left: 10px;
}

.tenure {
    font-size: smaller;
    color: #8d8b8b;
    margin-left: 10px;
}

.focus {
    font-size: smaller;
    font-weight: 700;
    margin-left: 10px;
}

.col-b {
    flex: 40;
}

.person {
    display: flex;
    justify-content: left;
    margin: 5px;
    margin-left: 10px;
    align-items: center;
}

div>img {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.name {
    font-size: .8rem;
    margin-left: 15px;
    margin-right: 25px;
    align-items: center;
}

.accept {
    margin-right: 5px;
}

.decline {
    margin-right: 5px;
}

.view-more {
    border-top: 2px #CCCCCC solid;
    margin-top: 5px;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
}

.view-more-link {
    margin-left: 10px;
}